.invoice{
    position:relative;
    margin-left: 240px;
}

.invoice-image{
    background-image: url("../../SigninPage/signin-image.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}