.dashboard{
    position:relative;
    margin-left: 300px;
    text-decoration: black;
}

.background-image{
    background-image: url(".././pages/SigninPage/signin-image.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
